<%- include('includes/header.ejs')%>

<div class="jumbotron">
    <h1 class="display-4">頁面没找到</h1>
    <p class="lead">很抱歉，你所找的頁面已經丟失！</p>
    <hr class="my-4">
    <p>請點擊按鈕返回首頁</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">返回首頁</a>
</div>
<%- include('includes/footer.ejs')%>